html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
}

#newGridBtn {
    flex: auto;
    margin: 25px;
}

h1 {
    color: red;
}

button {
    font-size: 16px;
    color: red;
    background-color: gold ;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid red;
}